<h1>What type of insurance do you need?</h1>

<div>
  <%= simple_form_for [@lead, @quote] do |f| %>
    <%= f.input :annual_revenue, label: false, placeholder: 'Annual revenue*' %>
    <%= f.input :enterprise_number, label: false, placeholder: 'Enterprise number*' %>
    <%= f.input :legal_name, label: false, placeholder: 'Legal name*' %>
    <%= f.input :natural_person, label: 'Are you a natural person?' %>
    <p>Recommended covers for you are: <%= @lead.recommended_covers.map(&:humanize).join(', ') %></p>
    <% Quote::AVAILABLE_COVERS.each do |cover| %>
      <%= label_tag cover %>
      <%= check_box_tag 'covers[]', cover %>
    <% end %>
    <p>Recommended coverage ceiling formula for you is: <%= @lead.recommended_coverage_ceiling.capitalize %></p>
    <%= select_tag 'coverage_ceiling_formula', options_for_select(%w[small medium large]) %>
    <p>Recommended deductible formula for you is: <%= @lead.recommended_coverage_ceiling.capitalize %></p>
    <%= select_tag 'deductible_formula', options_for_select(%w[small medium large]) %>
    <%= f.button :submit %>
  <% end %>
</div>